
@{
    ViewData["Title"] = "Aggregation";
}


<div class="row">
    <div class="col">
        <h1 class="display-4">Aggregation Test</h1>
        <table class="table table-bordered table-striped table-success">
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Max</th>
                    <th>Min</th>
                    <th>Sum</th>
                    <th>Average</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.count</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

